/*here start de website template core*/
@import "./core/normalize.scss";
@import "./core/functions";
@import "./core/mixins";
@import "./core/media-queries";
$breakpoints :
	(
		s   : 0,
		m	  : 640px,
		l	  : 960px,
		lg	: 1280px,
		xl	: 1600px,
		xxl	: 1920px
	);
@import "./layout/layout.scss";
@import "./layout/fonts.scss";
@import "./core-components/core-components.scss";
@import "./hacks/hacks";
/*here finish de website template core*/
/*here start de website internal components modules*/
@import "./internal-componets-modules/internal-components-modules";
/*here finish de website internal components modules*/ 
