/*here start de website template core*/
@import "core/normalize.scss";
@import "core/functions";
@import "core/mixins";
@import "core/media-queries";
$breakpoints 		:
	(
		s	: 0,
		m	: 768px,
		l	: 1024px,
		lg	: 1440px,
		xl	: 1600px,
		xxl	: 1920px
	);
@import "layout/layout.scss";
@import "layout/fonts.scss";
@import "components/components.scss";
@import "hacks/hacks";
/*here finish de website template core*/ 
body{
	background-color: red;
}
