.swiper-lazy-preloader::after {
	color: #9E852E !important;
}


.swiper-lazy-preloader::after {
    border-top-color: #9E852E; /* Cambia #color al color que desees */
    border-right-color: #9E852E; /* Cambia #color al color que desees */
}

.swiper-lazy-preloader::after {
    border-top-color: #9E852E !important; /* Cambia #color al color que desees */
    border-right-color: #9E852E !important; /* Cambia #color al color que desees */
}

img{
	max-width: 100%;
}
.hide {
	display: none;
}

.hide-m{
	display: none;
	@include from(m){
		display: block !important;
	}
}
.hide-d{
	@include from(m){
		display: none !important;
	}
}
