.preloader {
	display: inline-block;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	z-index: 500000;

	
}

.hide-preloader{
	display: none !important;
}
.preloader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	margin: 8px;
	border: 4px solid #9E852E;
	border-radius: 50%;
	animation: preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #9E852E transparent transparent transparent;
}

.preloader div:nth-child(1) {
	animation-delay: -0.45s;
}

.preloader div:nth-child(2) {
	animation-delay: -0.3s;
}

.preloader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
