.article-title{
    margin-bottom: 18px;

    @include from (769px){
        margin-bottom: 24px;
    }
}

.article-title h1{
    font-size: 29px;

    @include from (769px){
        font-size: 51px;
    }
}